
.booklist{
    padding: 5rem 0;
    background: linear-gradient(135deg, rgba(10, 5, 5, 0.706), rgba(255, 255, 255, 0));
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        .form-control{
            box-shadow: none;
            border: none;
            background-color: rgba(211, 211, 211, 0.786);
            border-radius: 30px;
        }
}

.book-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.595);
    
    gap: 2rem;

    border: 1px solid white;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    cursor: pointer;

    h3,span{
        font-size: .9rem;
        color: goldenrod;
        font-weight: 200;
        
    }

    a{
        color: white!important;
        display: flex;
        align-items: center;
        gap: .5rem;
        text-decoration: none;
        
    }
    


    p{
        color: white;
        font-weight: 300;
    }

    .img-book{
        height: 300px;
        border-radius: 15px;
        overflow: hidden;
        border: 2px solid goldenrod;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &:hover{
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    
}